@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

.App{
  font-family: 'Cafe24SsurroundAir';
  width: 700px;
  height: 850px;
  background-color: var(--back-color);
  margin: 40px auto;
  padding: 50px 50px;
  box-sizing: border-box;

  overflow-y: scroll;
}

button{
  font-family: 'Cafe24SsurroundAir';

}

:root{
  --font-color: #222222;
  --btn-font-color: #ffffff;
  --back-color: #00bcd4;
  --btn-color: #007c91;
}